.block {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.block-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block {
    .w-100 {
        width: 100%;
    }
}