<div
	id="sidebar"
	class="col-md-2 h-100 p-0 position-fixed border-right border-white"
>
	<div class="row border-bottom border-white m-0">
		<div class="col-md">
			<h1 class="px-1">Nav</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<ul class="nav justify-content-center p-1">
				<a
					href="/characters/"
					class="nav-item p-3 border-bottom border-white"
					>Characters</a
				>
			</ul>
		</div>
	</div>
</div>
