<div class="col-md h-100">
	<div class="d-flex justify-content-start">
		<% data.characters.forEach(character => { %>
		<div class="card" style="width: 18rem;">
			<img
				class="card-img-top"
				src="http://via.placeholder.com/215"
				alt="Card image cap"
			/>
			<div class="card-body">
				<h5 class="card-title"><%= character.shortName %></h5>
				<h6 class="card-subtitle mb-2 text-muted">
					<%= character.player.username %>
				</h6>
				<p class="card-text text-truncate"><%= character.description %></p>
				<a href="/characters/<%= character.id %> " class="btn btn-primary"
					>Go somewhere</a
				>
			</div>
		</div>
		<% }) %>
	</div>
</div>
